[submodule "cdk-work"]
	path = cdk-work
	url = git@github.com:wangdayong228/cdk-work.git
[submodule "op-work"]
	path = op-work
	url = git@github.com:wangdayong228/op-work.git
[submodule "zk-claim-service"]
	path = zk-claim-service
	url = git@github.com:0x3d4fb1cf/yidaiyilu-contracts.git
[submodule "op-claim-service"]
	path = op-claim-service
	url = git@github.com:0x3d4fb1cf/yidaiyilu-opBridgingAutomation.git
[submodule "ydyl-gen-accounts"]
	path = ydyl-gen-accounts
	url = git@github.com:wangdayong228/ydyl-gen-accounts.git
